<!DOCTYPE html>
 <html>
   <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
   </head>
   <body>
      <h1>welcome to exura.in, <%= @user.name %></h1>
      <p>
       you have successfully signed up to exura.in,
        your user name is: <%= @user.login %><br/>
        </p>
        <p>Thanks for joining have a great day</p>
      </body>
     </html>
